.change {    
    color:#313131;
    -webkit-animation:colorchange 7s infinite alternate;
    
    
  }

  @-webkit-keyframes colorchange {
    0% {
      
      color: green;
    }
    
    10% {
      
      color: greenyellow;
    }
    
    20% {
      
      color: turquoise;
    }
    
    30% {
      
      color: cyan;
    }
    
    40% {
      
      color: cornflowerblue;
    }
    
    50% {
      
      color: teal;
    }
    
    60% {
      
      color: yellow;
    }
    
    70% {
      
      color: yellowgreen;
    }
    80% {
   
      color: gold;
    }
    
    90% {
   
      color: whitesmoke
    }
    
    100% {
      
      color: white;
    }
  }